{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<h1>Portfolio</h1>

{% if projects %}
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url 'project-detail' project.slug %}">{{ project.title }}</a>
                {% if project.description %}
                    <p>{{ project.description }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No projects yet.</p>
{% endif %}

{% endblock %}
