{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

<article>
    <h1>{{ project.title }}</h1>

    {% if project.thumbnail %}
        <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" width="400" />
    {% endif %}

    <p>{{ project.description }}</p>

    <ul>
        {% if project.project_url %}
            <li><a href="{{ project.project_url }}" target="_blank">Live Project</a></li>
        {% endif %}

        {% if project.github_url %}
            <li><a href="{{ project.github_url }}" target="_blank">GitHub</a></li>
        {% endif %}
    </ul>

    {% if project.tags.all %}
        <p>
            Tags:
            {% for tag in project.tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    <a href="{% url 'portfolio-list' %}">← Back to Portfolio</a>
</article>

{% endblock %}
